<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/home/login.css" />

    <!-- defer는 html 요소가 로드될 때 시작되지 않도록 함. -->
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input id="id" type="text" placeholder="아이디" />
          <input id="password" type="password" placeholder="비밀번호" />
          <button>로그인</button>
        </form>
      </div>
    </div>
  </body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
