<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <fieldset>
      <legend>Assignment 1</legend>
      <form name="axiosForm">
        이름 <input type="text" name="name" />
        <fieldset>
          <legend>성별</legend>
          <input type="radio" name="gender" value="man" />남자
          <input type="radio" name="gender" value="woman" />여자
        </fieldset>
        <fieldset>
          <legend>생년월일</legend>
          <!-- date를 통한 선택 -->
          <input type="date" name="birthdate" id="birthdate" />

          <!-- 년, 월, 일 따로 선택 -->
          <select name="year" id="year">
            <% for(let i=1970; i<=2023; i++){ %>
            <option value="<%= i%>"><%= i %></option>
            <% } %>
          </select>
          <label for="year">년</label>

          <select name="month" id="month">
            <% for(let i=1; i<=12; i++){ %>
            <option value="<%= i%>"><%= i %></option>
            <% } %>
          </select>
          <label for="year">월</label>
        </fieldset>
        <fieldset>
          <legend>관심사</legend>
          <input type="checkbox" name="check" value="여행" />여행
          <input type="checkbox" name="check" value="패션" />패션
          <input type="checkbox" name="check" value="음식" />음식
        </fieldset>

        <button type="button" onclick="axiosGet()">회원가입</button>
        <div class="content"></div>
      </form>
    </fieldset>

    <script>
      function axiosGet() {
        let form = document.forms["axiosForm"];
        let box = document.querySelector(".content");
        let check = form.check;
        let isChecked = [];

        for (let i = 0; i < check.length; i++) {
          if (check[i].checked) {
            isChecked.push(check[i].value);
          }
        }

        const data = {
          name: form.name.value,
          gender: form.gender.value,
          year: form.birthdate.value,
          check: isChecked,
        };

        axios({
          method: "get",
          url: "/axios",
          params: data,
        }).then((res) => {
          console.log(
            `name : ${data.name}, gender : ${data.gender}, year : ${data.year}, check : ${data.check}`
          );
          box.textContent = `name : ${data.name}, gender : ${data.gender}, year : ${data.year}, check : ${data.check}`;
        });
      }
    </script>
  </body>
</html>
