<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>로그인 페이지</h1>
    <form method="post" name="register">
      <input type="text" name="id" placeholder="id" />
      <input type="password" name="password" placeholder="pw" />
      <button type="button" onclick="register()">제출하기</button>
    </form>
    <div class="box"></div>

    <script>
      const dataId = "<%= userInfo.id %>";
      const dataPassword = "<%= userInfo.password %>";

      function register() {
        // axios
        const form = document.forms["register"];
        const box = document.querySelector(".box");
        const data = {
          id: form.id.value,
          password: form.password.value,
        };

        axios({
          method: "post",
          url: "/register",
          data: data,
        }).then((res) => {
          if (res.data.id === dataId && res.data.password === dataPassword) {
            box.textContent = "로그인 성공";
          } else {
            box.textContent = "로그인 실패";
          }
        });
      }
    </script>
  </body>
</html>
