<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Session</h1>

    <a href="/set">세션설정</a>
    <a href="/name">세션 불러오기</a>
    <a href="/destory">세션 삭제</a>
  </body>
</html>
