/* 전반적인 틀(색상, 크기 등) 잡기 */
:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  /* padding, margin이 수정될 때 box에 포함되도록 box-sizing 조정 */
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}
header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* section 안의 player 클래스 중앙정렬 */
.player {
  /* position 은 꼭 위치 지정이 필요함 */
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 20%;
  height: 40%;
  max-width: 1000px;
}

.info {
  padding: var(--padding);
}

/* 최대한 작은 범위로 줄여서 적용시키는 것이 중요함 */
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}
.info .metadata .hashtags li {
  margin-right: var(--padding);
}
.info .metadata .titleAndButton {
  display: flex;
}
.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);

  /* 반응형으로 할 시 텍스트의 라인 수를 조절함 -> css line clamp(컨텐츠 내용 제한) */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}
.actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.actions button i {
  /* 마진을 통해 상하 0, 좌우 auto 시 중앙정렬 */
  margin: 0 auto;
  /* 원래 패딩 사이즈의 절반 */
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.actions button i.active {
  color: var(--blue-color);
}

/* channel description */
.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-dark-color);
}
.channel .metadata {
  display: flex;
  align-items: center;
}
.channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.channel .metadata .info .name {
  font-size: var(--font-medium);
}
.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  /* 모든 글자를 대문자로 변경 */
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

.UpNext {
  padding: 0 var(--padding);
}
.UpNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}
.UpNext .item {
  display: flex;
}
.UpNext .item img {
  /* 줄어들때, 늘어날 때, basis 35% */
  flex: 1 1 35%;
}
.UpNext .item .info {
  flex: 1 1 60%;
}
.UpNext .item .moreBtn {
  flex: 1 1 5%;
}
